.a{
	padding-top:20px;
	margin-top: 2px;
}
.b{     
        margin-top: 10px;
	border: solid black;
	padding-left: 44%;
	border-style:solid;
	max-width: 19%;


}
.b{
	background-image: linear-gradient( to top,black,gray);
}
.c{
	margin-top: 20px;
	background-color:DodgerBlue;
    padding-left: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.d{
	padding-top:10px;
}
.l{
	text-align: center;
}


